<?xml version="1.0" encoding="utf-8" ?>

<LanguageData>
	<!-- Misc. ModSettings labels -->
	<VehicleListSearchText>Search...</VehicleListSearchText>
	<VF_MainSettings>Main</VF_MainSettings>
	
	<!-- World & Map Generation -->
	<VF_WorldMapGen>World/Map Generation</VF_WorldMapGen>
	<VF_BeachGenMultiplier>Beach Size Multiplier</VF_BeachGenMultiplier>
	<VF_BeachGenMultiplierTooltip>Increase the amount of water on the coastline.</VF_BeachGenMultiplierTooltip>
	<VF_BeachGenMultiplierLargeTooltip>Current number is larger than recommended. The ocean can and may take up to as large as 80% of the map.</VF_BeachGenMultiplierLargeTooltip>
	<VF_ForceSettlementCoast>Push Settlement to Coast</VF_ForceSettlementCoast>
	<VF_ForceSettlementCoastTooltip>Push nearby faction settlements to the coast if within given radius</VF_ForceSettlementCoastTooltip>
	<VF_EverySettlementToCoast>Every Settlement</VF_EverySettlementToCoast>
	<VF_WorldTiles>tiles</VF_WorldTiles>
	
	<!-- General Settings -->
	<VF_SettingsGeneral>General</VF_SettingsGeneral>
	<VF_ModifiableSettings>Modifiable Settings</VF_ModifiableSettings>
	<VF_ModifiableSettingsTooltip>Toggle Modifiable Settings. Restarting with this disabled will bypass generation of modifiable settings.
	
Determines whether Vehicles should use values from the mod settings or Defs</VF_ModifiableSettingsTooltip>
	<VF_CustomShaders>Use RGB Shaders</VF_CustomShaders>
	<VF_CustomShadersTooltip>Enable use of custom shaders provided by the framework.</VF_CustomShadersTooltip>
	<VF_FullVehiclePathing>Full Vehicle Pathing</VF_FullVehiclePathing>
	<VF_FullVehiclePathingTooltip>Use the entire hitbox of the vehicle to determine pathing constraints (prevents Vehicles from going through smaller passages than hitbox size).</VF_FullVehiclePathingTooltip>
	<VF_MultiplePawnsPerJob>Multi-Pawn Jobs</VF_MultiplePawnsPerJob>
	<VF_MultiplePawnsPerJobTooltip>Allows vehicle related jobs to allow more than 1 pawn to reserve and work on it. Max allowed pawns determined by modders.</VF_MultiplePawnsPerJobTooltip>
	<VF_ShowDisabledVehicles>Show Disabled Vehicles</VF_ShowDisabledVehicles>
	<VF_ShowDisabledVehiclesTooltip>Disabled vehicles from the mod settings will still be shown in the architect menu.</VF_ShowDisabledVehiclesTooltip>
	
	<!-- Multipliers -->
	<VF_VehicleDamageMultipliers>Vehicle Damage</VF_VehicleDamageMultipliers>
	<VF_MeleeDamageMultiplier>Melee Damage Multiplier</VF_MeleeDamageMultiplier>
	<VF_RangedDamageMultiplier>Ranged Damage Multiplier</VF_RangedDamageMultiplier>
	<VF_ExplosiveDamageMultiplier>Explosive Damage Multiplier</VF_ExplosiveDamageMultiplier>
	
	<!-- VehicleTurrets -->
	<VF_VehicleTurrets>Vehicle Turrets</VF_VehicleTurrets>
	<VF_TurretOverheatMechanics>Turret Overheating</VF_TurretOverheatMechanics>
	<VF_TurretOverheatMechanicsTooltip>Some turrets have overheat mechanics to prevent nonstop firing without consequences. Keep this enabled?</VF_TurretOverheatMechanicsTooltip>
	
	<!-- Land Vehicles (none right now)-->
	
	<!-- Sea Vehicles -->
	<VF_SeaVehicles>Sea</VF_SeaVehicles>
	<VF_PassiveWaterWaves>Passive Water Waves</VF_PassiveWaterWaves>
	<VF_PassiveWaterWavesTooltip>Generate passive waves for each boat. Purely cosmetic.</VF_PassiveWaterWavesTooltip>
	<VF_Fishing>Fishing</VF_Fishing>
	<VF_FishingInactive>Fishing (Inactive)</VF_FishingInactive>
	<VF_FishingMultiplier>Fishing Multiplier</VF_FishingMultiplier>
	<VF_FishingMultiplierTooltip>Adjust the amount of fish gathered from fishing boat.</VF_FishingMultiplierTooltip>
	<VF_FishingDelay>Fishing Delay</VF_FishingDelay>
	<VF_FishingDelayTooltip>Base amount of ticks it takes to gather fish on a fishing boat.</VF_FishingDelayTooltip>
	<VF_FishingSkill>Fishing Skill</VF_FishingSkill>
	<VF_FishingSkillTooltip>How much exp is given by fishing on a boat</VF_FishingSkillTooltip>
	<VF_FishingPersists>Fishing Persists</VF_FishingPersists>
	<VF_FishingPersistsTooltip>The Fishing Boat fishing selection will not reset upon drafting.</VF_FishingPersistsTooltip>
	
	<!-- Aerial Vehicles -->
	<VF_AerialVehicles>Air</VF_AerialVehicles>
	<VF_RocketsBurnRadius>Rockets Burn</VF_RocketsBurnRadius>
	<VF_RocketsBurnRadiusTooltip>Allow aerial vehicles which support this feature to burn all things within a small radius upon takeoff and landing.</VF_RocketsBurnRadiusTooltip>
	<VF_DynamicDrawing>Dynamic Drawing</VF_DynamicDrawing>
	<VF_DynamicDrawingTooltip>Render aerial vehicles on the world map when zoomed in.</VF_DynamicDrawingTooltip>
	<VF_DeployOnLanding>Deploy on Landing</VF_DeployOnLanding>
	<VF_DeployOnLandingTooltip>When an aerial vehicle lands all pawns onboard will be unloaded.</VF_DeployOnLandingTooltip>
	<VF_DelayOnLanding>Delay on Landing</VF_DelayOnLanding>
	<VF_DelayOnLandingTooltip>When an aerial vehicle lands the deployment of all pawns will be delayed.</VF_DelayOnLandingTooltip>
	<VF_DelaySeconds>seconds</VF_DelaySeconds>
	<VF_AirDefensesActive>Air Defenses</VF_AirDefensesActive>
	<VF_AirDefensesActiveTooltip>Certain world objects are able to utilize air defenses to shoot down nearby aircraft.</VF_AirDefensesActiveTooltip>
	
	<!-- Vehicle Stats -->
	<VF_VehicleStats>Stats</VF_VehicleStats>
	
	<!-- Upgrade Menu Settings -->
	<VF_Upgrades>Upgrades</VF_Upgrades>
	<VF_DrawUpgradeInformationScreen>Draw Upgrade Menu Info Screen</VF_DrawUpgradeInformationScreen>
	<VF_DrawUpgradeInformationScreenTooltip>Draw additional menu on the upgrade menu to display ship stats and ship icon.</VF_DrawUpgradeInformationScreenTooltip>
	<VF_OverrideDrawColor>Override Draw Color</VF_OverrideDrawColor>
	<VF_OverrideDrawColorTooltip>When any upgrade is applied that comes with a pattern or draw color, the previous paint job will be overridden.</VF_OverrideDrawColorTooltip>
</LanguageData>
