<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
  <VF_MainSettings>General</VF_MainSettings>
  <VF_ListSearchText>Buscar...</VF_ListSearchText>
  <VF_SettingsDisabledTooltip>Las opciones han sido bloqueadas para este vehículo y no pueden modificarse.</VF_SettingsDisabledTooltip>
  <VF_NonUpgradeableSettingsTooltip>Este vehículo no puede ser mejorado.</VF_NonUpgradeableSettingsTooltip>
  <VF_RecolorDefaultMaskTooltip>Cambiar patron predeterminado</VF_RecolorDefaultMaskTooltip>
  <VF_WorldMapGen>Generación de mundo/mapa</VF_WorldMapGen>
  <VF_BeachGenMultiplier>Multiplicador de tamaño de playa</VF_BeachGenMultiplier>
  <VF_BeachGenMultiplierTooltip>Aumentar la cantidad de agua en la costa.</VF_BeachGenMultiplierTooltip>
  <VF_ForceSettlementCoast>Empujar asentamientos hacia la costa</VF_ForceSettlementCoast>
  <VF_ForceSettlementCoastTooltip>Empujar asentamientos cercanos hacia la costa si estan en cierto radio</VF_ForceSettlementCoastTooltip>
  <VF_EverySettlementToCoast>Todos los asentamientos</VF_EverySettlementToCoast>
  <VF_WorldTiles>Losas</VF_WorldTiles>
  <VF_SettingsGeneral>General</VF_SettingsGeneral>
  <VF_WillRequireRestart>Esta accion requiere reiniciar el juego para que surta efecto.</VF_WillRequireRestart>
  <VF_ModifiableSettings>Ajustes modificables</VF_ModifiableSettings>
  <VF_ModifiableSettingsTooltip>Activar ajustes modificables. Reiniciar con esto desactivado evitara la generación de ajustes modificables.
        
Determina si los vehículos deberian usar valores predeterminados del mod o definidos.</VF_ModifiableSettingsTooltip>
  <VF_CustomShaders>Usar sombreado RGB</VF_CustomShaders>
  <VF_CustomShadersTooltip>Permitir uso de sombreados modificados otorgados por la estructura (Framework)</VF_CustomShadersTooltip>
  <VF_DiagonalVehicleRendering>Permitir renderizado diagonal</VF_DiagonalVehicleRendering>
  <VF_DiagonalVehicleRenderingTooltip>Vehículos que permitan renderizado diagonal, lo presentaran cuando esten establecidos con una rotacion diagonal (Noreste, Sureste, Noroeste, Suroeste.)</VF_DiagonalVehicleRenderingTooltip>
  <VF_FullVehiclePathing>Camino del vehículo completo</VF_FullVehiclePathing>
  <VF_FullVehiclePathingTooltip>Usar la hitbox entera del behículo cuando se determine el camino mas corto. El vehículo estara limitado por su tamaño.</VF_FullVehiclePathingTooltip>
  <VF_SmoothVehiclePathing>Caminos de vehículo suavizados</VF_SmoothVehiclePathing>
  <VF_SmoothVehiclePathingTooltip>El camino del vehículo tendra un "Coste de giro" adicional, para prevenir patrones de zig zags innecesarios.</VF_SmoothVehiclePathingTooltip>
  <VF_HierarchalPathfinding>Buscador de caminos hierarquico (Experimental)</VF_HierarchalPathfinding>
  <VF_HierarchalPathfindingTooltip>Usar HPA* en vez de A* para buscar caminos mas rapido. Sacrifica algo de precisión a cambio de mayor velocidad a largas distancias.</VF_HierarchalPathfindingTooltip>
  <VF_RoadBiomeCostPathing>Coste de biomas en carreteras</VF_RoadBiomeCostPathing>
  <VF_RoadBiomeCostPathingTooltip>Carvanas que se deplazan sobre carreteras seguiran viendose afectadas por los costes de bioma.</VF_RoadBiomeCostPathingTooltip>
  <VF_MultiplePawnsPerJob>Trabajos de multiples colonos</VF_MultiplePawnsPerJob>
  <VF_MultiplePawnsPerJobTooltip>Permite que los trabajos relacionados con vehículos sean llevado acabo por mas de 1 colono. La cantidad maxima esta determinada por el modder.</VF_MultiplePawnsPerJobTooltip>
  <VF_HideDisabledVehicles>Esconder vehículos deshabilitados</VF_HideDisabledVehicles>
  <VF_HideDisabledVehiclesTooltip>Vehículos deshabilitados desde los ajustes del mod estaran ocultos en el menu de arquitecto.</VF_HideDisabledVehiclesTooltip>
  <VF_PerformanceSettings>Rendimiento</VF_PerformanceSettings>
  <VF_PassiveWaterWaves>Olas de agua pasivas</VF_PassiveWaterWaves>
  <VF_PassiveWaterWavesTooltip>Genera olas mientras el navío no este en desplazamiento.</VF_PassiveWaterWavesTooltip>
  <VF_AerialVehicleEffects>Efectos de aeronaves</VF_AerialVehicleEffects>
  <VF_AerialVehicleEffectsTooltip>Cuando las aeronaves despeguen y aterrizen, aparecen efectos y se renderizan texturas diferentes.</VF_AerialVehicleEffectsTooltip>
  <VF_VehicleDamageMultipliers>Daño de vehículo</VF_VehicleDamageMultipliers>
  <VF_MeleeDamageMultiplier>Multiplicador de daño melee</VF_MeleeDamageMultiplier>
  <VF_RangedDamageMultiplier>Multiplicador de daño a distancia</VF_RangedDamageMultiplier>
  <VF_ExplosiveDamageMultiplier>Multiplicador de daño explosivo</VF_ExplosiveDamageMultiplier>
  <VF_VehicleTurrets>Torretas de vehículos</VF_VehicleTurrets>
  <VF_TurretOverheatMechanics>Calentamiento de torretas</VF_TurretOverheatMechanics>
  <VF_TurretOverheatMechanicsTooltip>Algunas torretas se sobrecalentaran para evitar disparar constantemente. ¿Quieres mantenerlo habilitado?</VF_TurretOverheatMechanicsTooltip>
  <VF_Fishing>Pesca</VF_Fishing>
  <VF_FishingInactive>Pesca (Inactiva)</VF_FishingInactive>
  <VF_FishingMultiplier>Multiplicador de pesca</VF_FishingMultiplier>
  <VF_FishingMultiplierTooltip>Ajusta la cantidad de peces recogidos por el barco de pesca.</VF_FishingMultiplierTooltip>
  <VF_FishingDelay>Tiempo de pesca</VF_FishingDelay>
  <VF_FishingDelayTooltip>Cantidad base de ticks requeridos para recoger peces en un barco de pesca.</VF_FishingDelayTooltip>
  <VF_FishingSkill>Habilidad de pesca</VF_FishingSkill>
  <VF_FishingSkillTooltip>Cuanta experiencia se recibe al pescar en un barco</VF_FishingSkillTooltip>
  <VF_FishingPersists>Mantener pesca</VF_FishingPersists>
  <VF_FishingPersistsTooltip>La seleccion de pesca del barco de pesca no se reiniciara al ser reclutado.</VF_FishingPersistsTooltip>
  <VF_AerialVehicles>Aeronaves</VF_AerialVehicles>
  <VF_RocketsBurnRadius>Coheteria</VF_RocketsBurnRadius>
  <VF_RocketsBurnRadiusTooltip>Permite a las aeronaves con esta funcion quemar un pequeño radio a su alrededor al despegar o aterrizar.</VF_RocketsBurnRadiusTooltip>
  <VF_DynamicDrawing>Dibujo dinamico</VF_DynamicDrawing>
  <VF_DynamicDrawingTooltip>Renderizar aeronaves en el mapa del mundo cuando se haga zoom.</VF_DynamicDrawingTooltip>
  <VF_DeployOnLanding>Desplegar al aterrizar</VF_DeployOnLanding>
  <VF_DeployOnLandingTooltip>Cuando una aeronave aterrize todos los pasajeros se bajaran.</VF_DeployOnLandingTooltip>
  <VF_DelayOnLanding>Tiempo de aterrizaje</VF_DelayOnLanding>
  <VF_DelayOnLandingTooltip>Cuando una aeronave aterrize se tardara mas en dejar salir a los pasajeros.</VF_DelayOnLandingTooltip>
  <VF_DelaySeconds>segundos</VF_DelaySeconds>
  <VF_AirDefensesActive>Defensas aereas</VF_AirDefensesActive>
  <VF_AirDefensesActiveTooltip>Ciertos objetos del mundo son capaces de utilizar defensas aereas para derribar aeronaves.</VF_AirDefensesActiveTooltip>
  <VF_CombatSettings>Combate</VF_CombatSettings>
  <VF_RunOverPawns>Atropellar personas</VF_RunOverPawns>
  <VF_RunOverPawnsTooltip>Los vehiculos pueden atropellar personas y aplicar daño segun la masa y velocidad.</VF_RunOverPawnsTooltip>
  <VF_ChanceToRunOverFriendlies>Probablidad de fuego a amigo</VF_ChanceToRunOverFriendlies>
  <VF_ChanceToRunOverFriendliesTooltip>Probablidad de atropellar aliados.</VF_ChanceToRunOverFriendliesTooltip>
  <VF_VehicleStats>Estadisticas</VF_VehicleStats>
  <VF_Upgrades>Mejoras (Inactivo)</VF_Upgrades>
  <VF_DrawUpgradeInformationScreen>Pantalla informativa del menu de mejoras.</VF_DrawUpgradeInformationScreen>
  <VF_DrawUpgradeInformationScreenTooltip>Mostrar menu adicional del menu de mejoras para mostrar estadisticas de navíos e iconos.</VF_DrawUpgradeInformationScreenTooltip>
  <VF_OverrideDrawColor>Sobreponer color</VF_OverrideDrawColor>
  <VF_OverrideDrawColorTooltip>Cuando una mejora, con un color o patron, sea aplicado, la pintura anterior sera sobrepuesta.</VF_OverrideDrawColorTooltip>
</LanguageData>

