<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
  <VF_MainSettings>Principal</VF_MainSettings>
  <VF_ListSearchText>Buscar...</VF_ListSearchText>
  <VF_SettingsDisabledTooltip>As configurações foram bloqueadas para este veículo e não podem ser modificadas.</VF_SettingsDisabledTooltip>
  <VF_NonUpgradeableSettingsTooltip>Este veículo não pode ser aprimorado.</VF_NonUpgradeableSettingsTooltip>
  <VF_RecolorDefaultMaskTooltip>Alterar padrão</VF_RecolorDefaultMaskTooltip>
  <VF_WorldMapGen>Geração de Mundo/Mapa</VF_WorldMapGen>
  <VF_BeachGenMultiplier>Multiplicador de Tamanho de Praia</VF_BeachGenMultiplier>
  <VF_BeachGenMultiplierTooltip>Aumentar a quantidade de água na costa.</VF_BeachGenMultiplierTooltip>
  <VF_ForceSettlementCoast>Empurrar Assentamento para a Costa</VF_ForceSettlementCoast>
  <VF_ForceSettlementCoastTooltip>Empurrar assentamentos de facções próximas para a costa se estiverem dentro do raio especificado</VF_ForceSettlementCoastTooltip>
  <VF_EverySettlementToCoast>Cada Assentamento</VF_EverySettlementToCoast>
  <VF_WorldTiles>telhas</VF_WorldTiles>
  <VF_SettingsGeneral>Geral</VF_SettingsGeneral>
  <VF_WillRequireRestart>Esta ação requer um reinício para entrar em vigor.</VF_WillRequireRestart>
  <VF_ModifiableSettings>Configurações Modificáveis</VF_ModifiableSettings>
  <VF_ModifiableSettingsTooltip>Ativar/Desativar Configurações Modificáveis. Reiniciar com isso desativado irá ignorar a geração de configurações modificáveis.
        
Determina se os Veículos devem usar valores das configurações de mod ou Defs</VF_ModifiableSettingsTooltip>
  <VF_CustomShaders>Usar Shaders RGB</VF_CustomShaders>
  <VF_CustomShadersTooltip>Habilitar o uso de shaders personalizados fornecidos pelo framework.</VF_CustomShadersTooltip>
  <VF_DiagonalVehicleRendering>Permitir Renderização Diagonal</VF_DiagonalVehicleRendering>
  <VF_DiagonalVehicleRenderingTooltip>Veículos que suportam renderização diagonal o farão ao serem ajustados para rotações diagonais (Nordeste, Sudeste, Sudoeste, Noroeste).</VF_DiagonalVehicleRenderingTooltip>
  <VF_FullVehiclePathing>Caminhos de Veículos Completos</VF_FullVehiclePathing>
  <VF_FullVehiclePathingTooltip>Usar a caixa de colisão completa do veículo ao determinar o caminho mais curto. O veículo ainda estará limitado pelo seu tamanho.</VF_FullVehiclePathingTooltip>
  <VF_SmoothVehiclePathing>Caminhos de Veículos Suaves</VF_SmoothVehiclePathing>
  <VF_SmoothVehiclePathingTooltip>A criação de caminhos de veículos terá um custo adicional de "giro", evitando padrões desnecessários de zigue-zague no caminho mais curto.</VF_SmoothVehiclePathingTooltip>
  <VF_HierarchalPathfinding>Achado de Caminho Hierárquico (Experimental)</VF_HierarchalPathfinding>
  <VF_HierarchalPathfindingTooltip>Usar HPA* em vez de A* para uma busca de caminho mais rápida. Sacrifica um pequeno grau de precisão na busca de caminho em troca de uma busca mais rápida em distâncias longas.</VF_HierarchalPathfindingTooltip>
  <VF_RoadBiomeCostPathing>Custo de Bioma em Estradas</VF_RoadBiomeCostPathing>
  <VF_RoadBiomeCostPathingTooltip>Caravanas de Veículos que se deslocam por estradas no mapa mundial ainda são afetadas pelos custos de caminho do bioma.</VF_RoadBiomeCostPathingTooltip>
  <VF_MultiplePawnsPerJob>Trabalhos Multi-Pawn</VF_MultiplePawnsPerJob>
  <VF_MultiplePawnsPerJobTooltip>Permite que trabalhos relacionados a veículos sejam realizados por mais de 1 peão. O número máximo de peões permitidos é determinado pelos criadores de modificações.</VF_MultiplePawnsPerJobTooltip>
  <VF_HideDisabledVehicles>Ocultar Veículos Desativados</VF_HideDisabledVehicles>
  <VF_HideDisabledVehiclesTooltip>Veículos desativados nas configurações do mod serão ocultados no menu de arquiteto.</VF_HideDisabledVehiclesTooltip>
  <VF_PerformanceSettings>Desempenho</VF_PerformanceSettings>
  <VF_PassiveWaterWaves>Ondas Passivas na Água</VF_PassiveWaterWaves>
  <VF_PassiveWaterWavesTooltip>Gerar ondas passivas quando o barco está parado.</VF_PassiveWaterWavesTooltip>
  <VF_AerialVehicleEffects>Efeitos de Veículos Aéreos</VF_AerialVehicleEffects>
  <VF_AerialVehicleEffectsTooltip>Quando veículos aéreos decolam e pousam, gerar partículas e renderizar texturas de sobreposição.</VF_AerialVehicleEffectsTooltip>
  <VF_VehicleDamageMultipliers>Dano a Veículos</VF_VehicleDamageMultipliers>
  <VF_MeleeDamageMultiplier>Multiplicador de Dano de Combate Corpo a Corpo</VF_MeleeDamageMultiplier>
  <VF_RangedDamageMultiplier>Multiplicador de Dano de Longo Alcance</VF_RangedDamageMultiplier>
  <VF_ExplosiveDamageMultiplier>Multiplicador de Dano Explosivo</VF_ExplosiveDamageMultiplier>
  <VF_VehicleTurrets>Torretas de Veículos</VF_VehicleTurrets>
  <VF_TurretOverheatMechanics>Superaquecimento de Torretas</VF_TurretOverheatMechanics>
  <VF_TurretOverheatMechanicsTooltip>Algumas torretas possuem mecânicas de superaquecimento para evitar disparos contínuos sem consequências. Manter isso ativado?</VF_TurretOverheatMechanicsTooltip>
  <VF_Fishing>Pesca</VF_Fishing>
  <VF_FishingInactive>Pesca (Inativa)</VF_FishingInactive>
  <VF_FishingMultiplier>Multiplicador de Pesca</VF_FishingMultiplier>
  <VF_FishingMultiplierTooltip>Ajustar a quantidade de peixes coletados de um barco de pesca.</VF_FishingMultiplierTooltip>
  <VF_FishingDelay>Atraso na Pesca</VF_FishingDelay>
  <VF_FishingDelayTooltip>Quantidade base de ticks necessários para coletar peixes em um barco de pesca.</VF_FishingDelayTooltip>
  <VF_FishingSkill>Habilidade de Pesca</VF_FishingSkill>
  <VF_FishingSkillTooltip>Quantos pontos de experiência são obtidos pescando em um barco.</VF_FishingSkillTooltip>
  <VF_FishingPersists>Pesca Persistente</VF_FishingPersists>
  <VF_FishingPersistsTooltip>A seleção de pesca do Barco de Pesca não será reiniciada ao fazer uma seleção.</VF_FishingPersistsTooltip>
  <VF_AerialVehicles>Ar</VF_AerialVehicles>
  <VF_RocketsBurnRadius>Foguetes Combustíveis</VF_RocketsBurnRadius>
  <VF_RocketsBurnRadiusTooltip>Permite que veículos aéreos que suportem esse recurso queimem todas as coisas em um pequeno raio ao decolar e pousar.</VF_RocketsBurnRadiusTooltip>
  <VF_DynamicDrawing>Desenho Dinâmico</VF_DynamicDrawing>
  <VF_DynamicDrawingTooltip>Renderiza veículos aéreos no mapa-múndi ao dar zoom.</VF_DynamicDrawingTooltip>
  <VF_DeployOnLanding>Implantação ao Pousar</VF_DeployOnLanding>
  <VF_DeployOnLandingTooltip>Quando um veículo aéreo pousa, todos os ocupantes a bordo serão descarregados.</VF_DeployOnLandingTooltip>
  <VF_DelayOnLanding>Atraso ao Pousar</VF_DelayOnLanding>
  <VF_DelayOnLandingTooltip>Quando um veículo aéreo pousa, a implantação de todos os ocupantes será atrasada.</VF_DelayOnLandingTooltip>
  <VF_DelaySeconds>segundos</VF_DelaySeconds>
  <VF_AirDefensesActive>Defesas Aéreas</VF_AirDefensesActive>
  <VF_AirDefensesActiveTooltip>Certain world objects are able to utilize air defenses to shoot down nearby aircraft.</VF_AirDefensesActiveTooltip>
  <VF_CombatSettings>Combate</VF_CombatSettings>
  <VF_RunOverPawns>Atropelar Ocupantes</VF_RunOverPawns>
  <VF_RunOverPawnsTooltip>Veículos podem atropelar ocupantes e causar dano contundente com base na massa e na velocidade.</VF_RunOverPawnsTooltip>
  <VF_ChanceToRunOverFriendlies>Chance de Fogo Amigo</VF_ChanceToRunOverFriendlies>
  <VF_ChanceToRunOverFriendliesTooltip>Chance de atropelar ocupantes aliados.</VF_ChanceToRunOverFriendliesTooltip>
  <VF_VehicleStats>Estatísticas</VF_VehicleStats>
  <VF_Upgrades>Melhorias (Desativado)</VF_Upgrades>
  <VF_DrawUpgradeInformationScreen>Mostrar Informações do Menu de Melhorias</VF_DrawUpgradeInformationScreen>
  <VF_DrawUpgradeInformationScreenTooltip>Mostrar menu adicional no menu de melhorias para exibir estatísticas do navio e ícone do navio.</VF_DrawUpgradeInformationScreenTooltip>
  <VF_OverrideDrawColor>Sobrepor Cor de Desenho</VF_OverrideDrawColor>
  <VF_OverrideDrawColorTooltip>Quando qualquer melhoria é aplicada com um padrão ou cor de desenho, o esquema de pintura anterior será substituído.</VF_OverrideDrawColorTooltip>
</LanguageData>

