<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
  <VF_MainSettings>Основные настройки</VF_MainSettings>
  <VF_ListSearchText>Поиск...</VF_ListSearchText>
  <VF_SettingsDisabledTooltip>Настройки для данного ТС были заблокированы и потому не могут быть изменены.</VF_SettingsDisabledTooltip>
  <VF_NonUpgradeableSettingsTooltip>Это транспортное средство не может быть улучшено.</VF_NonUpgradeableSettingsTooltip>
  <VF_RecolorDefaultMaskTooltip>Сменить узор по умолчанию.</VF_RecolorDefaultMaskTooltip>
  <VF_WorldMapGen>Генерация мира/карты</VF_WorldMapGen>
  <VF_BeachGenMultiplier>Множитель размера пляжа</VF_BeachGenMultiplier>
  <VF_BeachGenMultiplierTooltip>Увеличить количество воды у побережья.</VF_BeachGenMultiplierTooltip>
  <VF_ForceSettlementCoast>Сдвинуть поселение</VF_ForceSettlementCoast>
  <VF_ForceSettlementCoastTooltip>Переместить близлежащие поселения фракций к побережью, если они находятся на указанном расстоянии от воды.</VF_ForceSettlementCoastTooltip>
  <VF_EverySettlementToCoast>Каждое поселение</VF_EverySettlementToCoast>
  <VF_WorldTiles>клетки мира</VF_WorldTiles>
  <VF_SettingsGeneral>Общие настройки</VF_SettingsGeneral>
  <VF_WillRequireRestart>Это действие требует перезапуска игры.</VF_WillRequireRestart>
  <VF_ModifiableSettings>Изменяемые параметры</VF_ModifiableSettings>
  <VF_ModifiableSettingsTooltip>Переключение изменяемости параметров. При запуске игры, когда эта опция отключена, создание изменяемых настроек будет пропущено.

Определяет, должны ли транспортные средства использовать значения из настроек этого фреймворка или из определений (Defs) модов.</VF_ModifiableSettingsTooltip>
  <VF_CustomShaders>Использовать RGB шейдеры</VF_CustomShaders>
  <VF_CustomShadersTooltip>Включение пользовательских шейдеров, поддерживаемых этим фреймворком.</VF_CustomShadersTooltip>
  <VF_DiagonalVehicleRendering>Диагональное отображение</VF_DiagonalVehicleRendering>
  <VF_DiagonalVehicleRenderingTooltip>Транспортные средства, которые поддерживают диагональное отображение, будут отрисовываться соответствующим образом при движении по диагонали. (NorthEast, SouthEast, SouthWest, NorthWest)</VF_DiagonalVehicleRenderingTooltip>
  <VF_FullVehiclePathing>Учитывать размер ТС</VF_FullVehiclePathing>
  <VF_FullVehiclePathingTooltip>Использовать весь хитбокс транспорта при определении кратчайшего пути. ТС по-прежнему будет ограничен своими габаритами.</VF_FullVehiclePathingTooltip>
  <VF_SmoothVehiclePathing>Сглаженные траектории движения</VF_SmoothVehiclePathing>
  <VF_SmoothVehiclePathingTooltip>Прокладка маршрута ТС будет иметь дополнительную стоимость поиска пути на поворотах, что позволит избежать ненужных зигзагообразных траекторий при выборе кратчайшего маршрута.</VF_SmoothVehiclePathingTooltip>
  <VF_HierarchalPathfinding>Иерархический поиск пути (эксперимент.)</VF_HierarchalPathfinding>
  <VF_HierarchalPathfindingTooltip>Использовать HPA* (иерархический поиск пути) вместо A* для ускорения прокладывания траектории движения. За счёт небольшого снижения точности, достигается значительное ускорение поиска пути на больших расстояниях.</VF_HierarchalPathfindingTooltip>
  <VF_RoadBiomeCostPathing>Влияние биома на дороги</VF_RoadBiomeCostPathing>
  <VF_RoadBiomeCostPathingTooltip>На караваны с транспортом, перемещающиеся по дорогам на карте мира, будет по-прежнему влиять сложность пути по конкретному типу биома.</VF_RoadBiomeCostPathingTooltip>
  <VF_MultiplePawnsPerJob>Одновременная работа</VF_MultiplePawnsPerJob>
  <VF_MultiplePawnsPerJobTooltip>Позволить нескольким поселенцам одновременно заниматься ремонтом и обслуживанием транспортного средства. Максимальное число поселенцев определяется величинами, заданными мододелами.</VF_MultiplePawnsPerJobTooltip>
  <VF_HideDisabledVehicles>Скрыть отключенный транспорт</VF_HideDisabledVehicles>
  <VF_HideDisabledVehiclesTooltip>Отключенные в настройках мода транспортные средства будут скрыты в меню «Проекты».</VF_HideDisabledVehiclesTooltip>
  <VF_PerformanceSettings>Производительность</VF_PerformanceSettings>
  <VF_PassiveWaterWaves>Пассивные волны на воде</VF_PassiveWaterWaves>
  <VF_PassiveWaterWavesTooltip>Генерировать круги на воде вокруг судна, когда оно простаивает.</VF_PassiveWaterWavesTooltip>
  <VF_AerialVehicleEffects>Эффекты воздушного транспорта</VF_AerialVehicleEffects>
  <VF_AerialVehicleEffectsTooltip>Включить отрисовку декоративных частиц (flecks) и наложенных текстур (overlay textures) при взлёте и посадке летательных аппаратов.</VF_AerialVehicleEffectsTooltip>
  <VF_VehicleDamageMultipliers>Урон транспортному средству</VF_VehicleDamageMultipliers>
  <VF_MeleeDamageMultiplier>Урон от оружия ближн. боя</VF_MeleeDamageMultiplier>
  <VF_RangedDamageMultiplier>Урон от оружия дальн. боя</VF_RangedDamageMultiplier>
  <VF_ExplosiveDamageMultiplier>Урон от взрывов</VF_ExplosiveDamageMultiplier>
  <VF_VehicleTurrets>Турели на транспорте</VF_VehicleTurrets>
  <VF_TurretOverheatMechanics>Перегрев турелей</VF_TurretOverheatMechanics>
  <VF_TurretOverheatMechanicsTooltip>В некоторых турелях предусмотрена механика перегрева, предотвращающая безостановочную стрельбу для избежания последствий. Оставить эту настройку включенной?</VF_TurretOverheatMechanicsTooltip>
  <VF_Fishing>Рыбалка</VF_Fishing>
  <VF_FishingInactive>Рыбалка (Отключено)</VF_FishingInactive>
  <VF_FishingMultiplier>Множитель размера улова</VF_FishingMultiplier>
  <VF_FishingMultiplierTooltip>Количество рыбы, получаемой в процессе рыбной ловли.</VF_FishingMultiplierTooltip>
  <VF_FishingDelay>Длит. рыбалки</VF_FishingDelay>
  <VF_FishingDelayTooltip>Количество времени (ticks), необходимое для ловли рыбы на рыболовном судне.</VF_FishingDelayTooltip>
  <VF_FishingSkill>Рыболовный навык</VF_FishingSkill>
  <VF_FishingSkillTooltip>Количество опыта, которое даёт ловля рыбы на рыболовном судне.</VF_FishingSkillTooltip>
  <VF_FishingPersists>Сохранять настройки рыбалки</VF_FishingPersists>
  <VF_FishingPersistsTooltip>Настройки рыбалки не сбрасываются при запуске двигателя (draft).</VF_FishingPersistsTooltip>
  <VF_AerialVehicles>Воздушные ТС</VF_AerialVehicles>
  <VF_RocketsBurnRadius>Огонь от сопел</VF_RocketsBurnRadius>
  <VF_RocketsBurnRadiusTooltip>Разрешить летательным аппаратам, поддерживающим эту функцию, при взлёте и посадке поджигать все предметы в небольшом радиусе.</VF_RocketsBurnRadiusTooltip>
  <VF_DynamicDrawing>Динамическое отображение</VF_DynamicDrawing>
  <VF_DynamicDrawingTooltip>Показывать изображение воздушного ТС при приближении камеры на карте мира.</VF_DynamicDrawingTooltip>
  <VF_DeployOnLanding>Выгрузка при посадке</VF_DeployOnLanding>
  <VF_DeployOnLandingTooltip>Когда воздушное ТС приземлится, все персонажи на борту будут высажены.</VF_DeployOnLandingTooltip>
  <VF_DelayOnLanding>Отложенная высадка</VF_DelayOnLanding>
  <VF_DelayOnLandingTooltip>При посадке летательного аппарата выгрузка всех персонажей происходит с задержкой.</VF_DelayOnLandingTooltip>
  <VF_DelaySeconds>секунды</VF_DelaySeconds>
  <VF_AirDefensesActive>Противовоздушная оборона (ПВО)</VF_AirDefensesActive>
  <VF_AirDefensesActiveTooltip>Некоторые объекты на карте мира смогут использовать средства противовоздушной обороны, чтобы сбивать находящиеся поблизости летательные аппараты.</VF_AirDefensesActiveTooltip>
  <VF_CombatSettings>Бой</VF_CombatSettings>
  <VF_RunOverPawns>Наезд на персонажей</VF_RunOverPawns>
  <VF_RunOverPawnsTooltip>Транспортные средства могут наезжать на персонажей, нанося им дробящий урон (blunt) в зависимости от массы и скорости ТС.</VF_RunOverPawnsTooltip>
  <VF_ChanceToRunOverFriendlies>Шанс переехать своих</VF_ChanceToRunOverFriendlies>
  <VF_ChanceToRunOverFriendliesTooltip>Шанс наехать на дружественного персонажа.</VF_ChanceToRunOverFriendliesTooltip>
  <VF_VehicleStats>Характеристики</VF_VehicleStats>
  <VF_Upgrades>Улучшения (Отключено)</VF_Upgrades>
  <VF_DrawUpgradeInformationScreen>Показывать меню улучшений в окне информации</VF_DrawUpgradeInformationScreen>
  <VF_DrawUpgradeInformationScreenTooltip>Отображение дополнительного меню в окне улучшений, отображающего характеристики транспорта и его иконки.</VF_DrawUpgradeInformationScreenTooltip>
  <VF_OverrideDrawColor>Перекрыть цвета</VF_OverrideDrawColor>
  <VF_OverrideDrawColorTooltip>При проведении любого усовершенствования, включающего в себя рисунок или новый цвет краски, предыдущая окраска будет перекрыта.</VF_OverrideDrawColorTooltip>
</LanguageData>

